<!DOCTYPE html>

<html lang="en">

<%- include("partials/head") %>

<body>

<div id="wrapper">

<header>
  <%- include("partials/header") %>
  <%- include("partials/navigation") %>
   <%- include("partials/footer") %>
</header>

<main>

  <h1>Welcome to CSE Motors!</h1>

  <!-- Hero Section -->

  <section class="hero">

```
<div class="hero-text">
  <h2>DMC Delorean</h2>

  <ul>
    <li>3 Cup holders</li>
    <li>Superman doors</li>
    <li>Fuzzy dice!</li>
  </ul>

  <img src="/public/images/site/own_today.png" alt="Own Today button">
</div>

<div class="hero-image">
  <img src="/public/images/vehicles/delorean.jpg" alt="DMC Delorean vehicle">
</div>
```

  </section>

  <!-- Home Content Section -->

  <section class="home-sections">

```
<!-- Upgrades Section -->
<div class="upgrades">
  <h2>Delorean Upgrades</h2>

  <div class="upgrade-grid">

    <div class="upgrade-item">
      <img src="/public/images/upgrades/flame.jpg"  alt="Flux Capacitor upgrade">
      <p><a href="#">Flux Capacitor</a></p>
    </div>

    <div class="upgrade-item">
      <img src="/public/images/upgrades/flame.jpg" alt="Flame decals upgrade">
      <p><a href="#">Flame Decals</a></p>
    </div>

    <div class="upgrade-item">
      <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper sticker upgrade">
      <p><a href="#">Bumper Stickers</a></p>
    </div>

    <div class="upgrade-item">
      <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub caps upgrade">
      <p><a href="#">Hub Caps</a></p>
    </div>

  </div>
</div>


<!-- Reviews Section -->
<div class="reviews">
  <h2>DMC Delorean Reviews</h2>

  <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</div>
```

  </section>

</main>

<footer>
  <%- include("partials/footer") %>
</footer>

</div>

</body>
</html>
